// GENERAL 
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // font-size 1em = 10px on default browser settings
}

body {
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, sans-serif;
  background-color: $very-light-gray;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a { color: hsl(228, 45%, 44%); }
}



// MAIN
.main {
  text-align: center;

  &__header {
    background-color: lightblue;
  }
}

// FOOTER
.main__footer {
  background-color: lightgray;
  display: flex;
  flex-direction: column;
  
  .card {
    height: 20rem;
    width: 20rem;
    margin: 1rem auto;
  }

  &--one {
    background-color: lightcyan;
    background-image: url(/images/icon-supervisor.svg);
  }

  &--two {
    background-color: lightcoral;
    background-image: url(/images/icon-team-builder.svg);
  }

  &--three {
    background-color: lightpink;
    background-image: url(/images/icon-karma.svg);
  }

  &--four {
    background-color: lightseagreen;
    background-image: url(/images/icon-calculator.svg);
  }
  
  // display: flex;
  // align-items: center;
  // justify-content: center;
}