// GENERAL 
*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  // background-color: $neutral-color-300;
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  a { color: hsl(228, 45%, 44%); }
}

// HEADER

header {
  text-align: center;

  h1:first-of-type {font-weight: 200;}
  h1:last-of-type {font-weight: 600;}
  
  p {
    font-weight: 400;
    max-width: 50%;
    margin: 0 auto;
  }
}